@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

:root{
    --yellow:#f9ca24;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}
*::selection{
    background:var(--yellow);
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width:1.4rem;
}
html::-webkit-scrollbar-thumb{
    background:var(--yellow);
}
section{
    min-height: 100vh;
    padding:1rem;
}
.btn{
    padding:.7rem 3rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}
.btn i{
    padding:0 .5rem;
    font-size: 1.8rem;
}

.btn:hover{
    background:var(--yellow);
}
.heading{
    text-align: center;
    margin:0 6rem;
    font-size: 4rem;
    padding:1rem;
    border-bottom: .1rem solid#f9ca24;
}

.heading span{
    color:var(--yellow);
}
.sidebar{
    height:100%;
    width:34rem;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

.sidebar .user img{
    height:17rem;
    width:17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border:.7rem solid var(--yellow);
}
.sidebar .user .name{
    font-size: 3.5rem;
}
.sidebar .navbar{
    width:100%;
}
.sidebar .navbar ul{
    list-style: none;
    
}
.sidebar .navbar ul li a{
    display: block;
    padding:1rem;
    margin:1.5rem 0;
    color:#333;
    font-size: 2rem;
    border-radius: 5rem;
}
.sidebar .navbar ul li a:hover{
    background:var(--yellow);
}

.dashboard{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding:1rem 0;
}
.dashboard h3{
    font-size: 2.5rem;
}

.dashboard h1{
    text-align: center;
    font-size:5rem;
}

.dashboard h1 span{
    color:var(--yellow);
}

.dashboard p{
    font-size:2rem;
    padding: 1rem 0;
}
.dashboard .box-container{
    display: flex;
    flex-wrap: wrap;
    padding:2rem 0;
    align-items: center;
    justify-content: center; 
}
.dashboard .box-container .box{
    
    text-align: center;
    padding: 2rem;
    height: 20rem;
    width:26rem;
    border-radius: 1rem;
    margin:2rem;
    overflow: hidden;
    border: 2px solid var(--yellow)
}

.personalInfo { 
    align-items: center;
    justify-content: center;
    padding: 0.2em, 0;
}
.personalInfo  .info{
    flex:1 1 48rem;
}

.personalInfo  .info h3{
    font-size: 1.5rem;
    padding:1rem 0;
    font-weight: normal;
}
.personalInfo  .info h3 span{
    padding:0 .2rem;
    color: #333;
}

.courses .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:1rem 0;
    padding-left: 3rem;
}
.courses .box-container .box{
    width:27rem;
    margin:4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid    #f9ca24;
    position: relative;
}
.courses .box-container .box span{
    font-size: 1.3rem;
    background:#222;
    color:#fff;
    border-radius: 5rem;
    padding:.5rem 2.5rem;
}
.courses .box-container .box h3{
    font-size: 2rem;
    padding-top: 1.5rem;
}
.courses .box-container .box p{
    font-size: 1.4rem;  
    padding: 1rem 0;
}
.courses .box-container .box li{
    font-size: 1.5rem;  
    padding: 1rem 0;
}
.courses .box-container .box i{
    position: absolute;
    top:-1.5rem; left:-2.5rem;
    height:5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color:#fff;
    background:var(--yellow);
}

.payments{
    padding:1rem 0;

}
.payments .paytable{
    overflow-x:auto;
    align-items: center;
    justify-content: center;

}
.payments .paytable table{
   
    border-collapse: collapse;
    margin-top: 2rem;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 1.5rem;
    padding:1rem;
}
.payments tr:nth-child(even)
{
    background-color: #f2f2f2
}
.payments .paytable h2{
    font-size: 2rem;
}




