body{
	background:#696262;
	
	
}
h1{
	text-align: center;
	margin: 50px auto 220px;
	color: white;
	font-family: Serif;
}
.main{
	width: 100%;
	min-height:230px;
	text-align: center;
	position: relative;
	cursor: pointer;
	
}
.service{
	background: #fff;
	padding: 30px;
	border-radius: 10px;
	position: absolute;
	bottom: 0;
	z-index: 1;
	box-shadow: 0 0 20px -15px #030380;
	transition: transform .8s;
}
.service-logo{
	width: 130px;
	height: 130px;
	border-radius: 50%;
	margin: -90px auto 0;
	background: #fff;
	border: 18px solid #696262 ;
}
.service-logo img{
	width: 50px;
	margin-top: 20px;
}
.service h4{
	height: 35px;
	width: 80%;
	background: #fff;
	margin: 50px auto;
	position: relative;
}
.service h4::after{
	content: '';
	width: 40px;
	height: 30px;
	background: linear-gradient(to right, #fff, black);
	position: absolute;
	right: -5px;
	top: -5px;
	z-index: -1;
}
.service h4::before{
	content: '';
	width: 40px;
	height: 30px;
	background: linear-gradient(to right, black, #fff);
	position: absolute;
	left: -5px;
	bottom: -5px;
	z-index: -1;
}
.shadowOne{
	height: 200px;
	width: 80%;
	background: #fff;
	position: absolute;
	border-radius: 10px;
	bottom: 0;
	left: 10%;
	z-index: -1;
	box-shadow: 0 0 20px -15px #030380;
	transition: transform .8s;
}
.shadowTwo{
	height: 200px;
	width: 64%;
	background: #fff;
	position: absolute;
	border-radius: 10px;
	bottom: 0;
	left: 18%;
	z-index: -2;
}

.main:hover .service{
	transform: translateY(-50px);
}
.main:hover .shadowOne{
	transform: translateY(-25px);
}
.abc{
	padding-bottom:100px;
	padding-top: 50px;
}
a
{
	color:black;
} 
@media screen and (max-width: 1190px){
	.max-width{
		padding: 0 25px;
	}
	.col-md-4{
		width: calc(50% - 10px);
		margin-bottom: 250px;
		
	}
}

@media screen and (max-width: 700px){
	
	.col-md-4{
		width: 100%;	
	}
	.abc{
		padding-top:50px;
		padding-bottom: 0px;
	}
}


