:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  }
  body p{
	  text-align:justify;
  }
  
  /* Navigation */
@media(max-width: 767px){
	#brand-logo{
		float:left;
		
	}
	list1{
		float:right;
		align-items: right;
	}
}
@media(max-width: 574px){
	#brand-logo{
		float:left;
		width:25;
		height:39;
		
	}
}
.body {
	background-color:#cfd6d2; 
}
.sidebar {
	grid-area: sidebar;
	font-family: Roboto;
    font-style: normal;
	
	
}
.section1{
	height:35vh;
	margin-bottom:2rem;
	margin-top:-4.6rem;
	border-top: solid 3px #e6a117;
	font-size: 0.813em;
	padding-top: 1.615em;
    padding-right: 8%;
    padding-bottom: 0.923em;
    padding-left: 8%;
	text-align:center;	
}
.section1 .button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color:#e6a117; 
  color: white; 
  border: 2px solid #4CAF50;
  padding: 0.8em;
 
}

.button1:hover {
  background-color: #b36b00;
  color: white;
}

.section2{
	height:60vh;
	margin-bottom:2rem;
	border-top: solid 3px #e6a117;
	font-size: 0.813em;
	line-height: 1.85;
	padding:3rem;
	color: #373B41;
}
.title{
	text-transform: uppercase;
	font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.08em;
    font-size: 1em;
    line-height: 1.85;
    margin-bottom: 1.8450184502em;
}

.section2 ul li a{
	font-size: 1em;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #373B41;
	display: block;
	transition: all 0.3s ease;
}
.section2 ul li a:hover{
	color: #e6a117;
	padding-left: 9px;
}
	

.section3{
	height:30vh;
	margin-bottom:-5rem;
	border-top: solid 3px #e6a117;
	padding:3rem;
	font-size: 0.813em;
	line-height: 1.85;
	color: #373B41;
}
.section3 ul li a{
	font-size: 1em;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #373B41;
	display: block;
	transition: all 0.3s ease;
}
.section3 ul li a:hover{
	color: #e6a117;
	padding-left: 9px;
}


.content {
  grid-area: content;
  position: relative;
}

.wrapper {
	margin:80px;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:   
    "content content content content  sidebar sidebar";

    background-color: #cfd6d2;
    color: white;
	grid-auto-rows: minmax(75px, auto)
	
	
  }
  
  @media screen and (max-width: 700px){
	
	.wrapper{
		margin-left:0px;
	margin-right:0px;
		grid-template-columns: 1fr;
		grid-template-areas: "content" 
		"sidebar";
		
	}
	
	.content {
  grid-area: content;
  position: relative;
  font-size: 80%;
}
.section1{
	height:40vh;
}
}
  
  .box {
	  
   background-color: white;
   color: black;
   padding: 50px;
   font-size: 120%;
  
}


.box table{
	width:100px;
	height:200px;
}
.list{
	padding:1rem;
	border:1px grey; 
}
.list-icon{
	margin-right:10px;	
	display:inline;
	color:#e6a117;
}


/* hero image section */
.hero-image{
	position: relative;
	overflow: visible;
	height:400px;
	margin-top:-60px;
	margin-left:-40px;
	margin-right:-40px;
	
}
	

.hero-overlay {
  font-family:Inter;  
  color:white; 
  position:relative;
  

}
.hero-overlay h1{
	
	font-size:5vw;
	padding:3rem;
	text-align:right;	
    letter-spacing: 0.50rem;
    font-weight: 700;
}
 
.hero-overlay h3 {
	padding:3rem;
	font-size:3.5vw;
	text-align:right;
	color:white;
	letter-spacing: 0.05rem;
	&:last-of-type 
	{
		padding-top: 0;
	}
 }


